<section>
    <p id="post-share-links" class="pull-right">
    Share on:
    <a href="http://twitter.com/home?status={{ SITEURL }}/{{ article.url }}" target="_blank" title="Share on Twitter">Twitter</a>
    ❄
    <a href="http://www.facebook.com/sharer/sharer.php?u={{ SITEURL }}/{{ article.url }}" target="_blank" title="Share on Facebook">Facebook</a>
    ❄
    <a href="https://plus.google.com/share?url={{ SITEURL }}/{{ article.url }}" target="_blank" title="Share on Google Plus">Google+</a>
    ❄
    <a href="http://www.linkedin.com/shareArticle?mini=true&url={{ SITEURL }}/{{ article.url }}&title={{article.title}}&summary=&source=" target="_blank" title="Share on Linkedin">Linkedin</a>
    </p>
</section>