
<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>{{ SITENAME }} - {{ SITESUBTITLE }}</title>
    <meta name="description" content="" />
    <meta name="Author" content="Ken M. Lai(networktsukkomime.me)" />

    <!--[if lt IE 9]>
      <script type="text/javascript" src="http://stepofweb.gweb.io/.templates/IsisOne/HTML/assets/plugins/lt-ie9/html5.js"></script>
      <script type="text/javascript" src="http://stepofweb.gweb.io/.templates/IsisOne/HTML/assets/plugins/lt-ie9/respond.min.js"></script>
      <script type="text/javascript" src="http://stepofweb.gweb.io/.templates/IsisOne/HTML/assets/plugins/lt-ie9/excanvas.compiled.js"></script>
    <![endif]--> 

    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800|Dosis:300,400" rel="stylesheet" type="text/css" />


    <!-- CORE CSS FRAMEWORK -->
    <link href="http://stepofweb.gweb.io/.templates/IsisOne/HTML/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="http://stepofweb.gweb.io/.templates/IsisOne/HTML/assets/plugins/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css" />
    <link href="http://stepofweb.gweb.io/.templates/IsisOne/HTML/assets/plugins/font-linecons/linecons.css" rel="stylesheet" type="text/css" />

    <!-- PLUGINS -->
    <link href="http://stepofweb.gweb.io/.templates/IsisOne/HTML/assets/css/superslides.css" rel="stylesheet" type="text/css" />
    <link href="http://stepofweb.gweb.io/.templates/IsisOne/HTML/assets/css/owl.carousel.css" rel="stylesheet" type="text/css" />
    <link href="http://stepofweb.gweb.io/.templates/IsisOne/HTML/assets/plugins/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css" />

    <!-- CSS TEMPLATE -->
    <link href="http://stepofweb.gweb.io/.templates/IsisOne/HTML/assets/css/reset.css" rel="stylesheet" type="text/css" />
    <link href="http://stepofweb.gweb.io/.templates/IsisOne/HTML/assets/css/framework.css" rel="stylesheet" type="text/css" />
    <link href="http://stepofweb.gweb.io/.templates/IsisOne/HTML/assets/css/typography.css" rel="stylesheet" type="text/css" />
    <link href="http://stepofweb.gweb.io/.templates/IsisOne/HTML/assets/css/layout.css" rel="stylesheet" type="text/css" />

    <link href="http://stepofweb.gweb.io/.templates/IsisOne/HTML/assets/css/blog.css" rel="stylesheet" type="text/css" />

    <!-- colors : demo only -->
    <link href="http://stepofweb.gweb.io/.templates/IsisOne/HTML/assets/css/color/green.css" rel="stylesheet" type="text/css" /><!-- default style : green-->
    <link href="http://stepofweb.gweb.io/.templates/IsisOne/HTML/assets/css/color/blue.css" rel="alternate stylesheet" type="text/css" title="blue" />
    <link href="http://stepofweb.gweb.io/.templates/IsisOne/HTML/assets/css/color/orange.css" rel="alternate stylesheet" type="text/css" title="orange" />
    <link href="http://stepofweb.gweb.io/.templates/IsisOne/HTML/assets/css/color/green.css" rel="alternate stylesheet" type="text/css" title="green" />
    <link href="http://stepofweb.gweb.io/.templates/IsisOne/HTML/assets/css/color/red.css" rel="alternate stylesheet" type="text/css" title="red" />
    <link href="http://stepofweb.gweb.io/.templates/IsisOne/HTML/assets/css/color/yellow.css" rel="alternate stylesheet" type="text/css" title="yellow" />
    <link href="http://stepofweb.gweb.io/.templates/IsisOne/HTML/assets/css/color/gray.css" rel="alternate stylesheet" type="text/css" title="gray" />
    <link href="http://stepofweb.gweb.io/.templates/IsisOne/HTML/assets/css/color/pink.css" rel="alternate stylesheet" type="text/css" title="pink" />
    <link href="http://stepofweb.gweb.io/.templates/IsisOne/HTML/assets/css/color/mauve.css" rel="alternate stylesheet" type="text/css" title="mauve" />

    <!-- ICONS -->
    <link rel="shortcut icon" href="http://stepofweb.gweb.io/.templates/IsisOne/HTML/assets/images/favicon.png" type="image/x-icon" />
    <link rel="icon" href="http://stepofweb.gweb.io/.templates/IsisOne/HTML/assets/images/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="http://stepofweb.gweb.io/.templates/IsisOne/HTML/assets/images/favicon.ico" type="image/x-icon" />

    <!-- mobile settings -->
    <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />

    <!-- STYLESWITCHER -->
    <link href="http://stepofweb.gweb.io/.templates/IsisOne/HTML/assets/plugins/styleswitcher/styleswitcher.css" rel="stylesheet" type="text/css"/>

    <!-- Morenizr -->
    <script type="text/javascript" src="http://stepofweb.gweb.io/.templates/IsisOne/HTML/assets/plugins/modernizr.min.js"></script>
  </head>
  <body>


    <!-- STYLESWITCHER -->
    <!-- <div id="switcher"> -->
      <!-- <div class="content-switcher" >         -->
        <!-- <h4>STYLE OPTIONS</h4> -->

        <!-- <p>Color Skin:</p> -->
        <!-- <ul style="width:150px;">             -->
          <!-- <li><a href="#" onclick="setActiveStyleSheet('blue'); return false;" class="color" style="background-color:#50657B"></a></li> --><!-- default-->
          <!-- <li><a href="#" onclick="setActiveStyleSheet('orange'); return false;" class="color" style="background-color:#F07057"></a></li> -->
          <!-- <li><a href="#" onclick="setActiveStyleSheet('green'); return false;" class="color" style="background-color:#7E8344"></a></li> -->
          <!-- <li><a href="#" onclick="setActiveStyleSheet('red'); return false;" class="color" style="background-color:#e93735"></a></li> -->
          <!-- <li><a href="#" onclick="setActiveStyleSheet('pink'); return false;" class="color" style="background-color:#f73f69"></a></li> -->
          <!-- <li><a href="#" onclick="setActiveStyleSheet('mauve'); return false;" class="color" style="background-color:#c91ac9"></a></li> -->
          <!-- <li><a href="#" onclick="setActiveStyleSheet('yellow'); return false;" class="color" style="background-color:#f1c40f"></a></li> -->
          <!-- <li><a href="#" onclick="setActiveStyleSheet('gray'); return false;" class="color" style="background-color:#333333"></a></li> -->
        <!-- </ul>         -->

        <!-- <p>Home Page Template:</p> -->
        <!-- <div class="styled-select">
          <select onchange="window.document.location.href=this.options[this.selectedIndex].value;">  
            
            <optgroup label="+ Personal">
              <option selected="selected">01. Fullscreen Slider</option>
              <option value="index-personal-half.html">02. Halfscreen Slider</option>
              <option value="index-personal-half.html">03. Full Video</option>
            </optgroup>

            <optgroup label="+ Agency">
              <option value="index-agency-full.html">01. Fullscreen Slider</option>
              <option value="index-agency-half.html">02. Halfscreen Slider</option>
              <option value="index-agency-video.html">03. Full Video</option>
            </optgroup>

            <optgroup label="+ Application">
              <option value="index-application-full.html">01. Fullscreen Slider</option>
              <option value="index-application-half.html">02. Halfscreen Slider</option>
              <option value="index-application-video.html">03. Full Video</option>
            </optgroup>

            <optgroup label="Misc">
              <option value="countdown-image.html">Count Down - Image</option>
              <option value="countdown-video.html">Count Down - Video</option>
              <option value="index-video-full.html">404 Not Found</option>
              <option value="faq.html">Faq Page</option>
              <option value="text-page.html">Default Text Page</option>
            </optgroup>

          </select>
        </div> -->

        <!-- <div class="switcher-links">
          <a href="elements.html">elements.html</a>
          <a href="typography.html">typography.html</a>
          <a href="icons-fontawsome.html">icons-fontawsome.html</a>
          <a href="icons-linecons.html">icons-linecons.html</a>
        </div> -->

        <!-- <div id="hideSwitcher">&times;</div> -->
      <!-- </div> -->
    <!-- </div> -->
    <!-- <div id="showSwitcher"><i class="fa fa-tint"></i></div> -->
    <!-- /STYLESWITCHER -->


    <!-- HOME -->
    <section id="home" class="full-screen"><!-- full-screen or half-screen (550px height) -->

      <div id="slider">

        <ul class="slides-container">

          <!-- Item 1 -->
          <li>
            <div class="image-caption">
              <hr /><hr />
              <div class="inner">
                <h2 class="bigtext strtoupper nomargin">{{ SITENAME|e }}</h2>
              </div>
              <hr /><hr />
            </div>

            <span class="overlay"></span>
            <div style="background-image: url('http://stepofweb.gweb.io/.templates/IsisOne/HTML/assets/images/preview/slider/background.jpg');" class="fullscreen-img"></div>
          </li>
        </ul>

      </div>

    </section>
    <!-- /HOME -->



    <!-- Main Nav -->
    <header id="header">

      <nav class="navbar navbar-inverse" role="navigation"><!-- add "wihite" class for white nav bar -->
        <div class="container">

          <!-- Mobile Menu Button -->
          <button id="mobileMenu" class="fa fa-bars" type="button" data-toggle="collapse" data-target=".navbar-collapse"></button>

          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <a class="navbar-brand scrollTo" href="#home">
              <img src="https://dl.dropboxusercontent.com/u/299446/logo-invert.png" alt="" width="50" height="50" /> 
              <!--
                Span class:
                  - dark
                  - white
                  - styleColor (if you select "green" style color, the color will be green).

                  You can combine them 
                  Example:
                    <span class="white">ISIS</span><span class="styleColor">ONE</span>
              -->
              <span class="">{{ SITENAME|e }}</span>
            </a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <!-- Fullscreen Button - Unavailable for IE -->
            <a href="#" class="btn-fullscreen"><i class="fa fa-external-link"></i></a>

            <ul class="nav navbar-nav navbar-right">
              <li><a href="#home" class="scrollTo">Home</a></li>
              <li><a href="#about" class="scrollTo">About</a></li>
              <li><a href="#work" class="scrollTo">Work</a></li>
              <!-- <li><a href="#services" class="scrollTo">Services</a></li> -->
              <li><a href="blog.html">Blog</a></li>
              <!-- <li><a href="#contact" class="scrollTo">Contact</a></li> -->
            </ul>
          </div><!-- /.navbar-collapse -->

        </div>
      </nav>

    </header>
    <!-- /Main Nav -->






    <!-- ABOUT -->
    <section id="about">
      <div class="container">
        <header class="text-center">
          <h1>ABOUT ME</h1>
        </header>

        <div class="divider"><!-- lines divider --></div>

        {% if PERSONAL_INFO %}
          <article class="text-center big-paragraph">
            <p>{{PERSONAL_INFO}}</p>
          </article>
        {% endif %}

        {% if PERSONAL_PHOTO %}
          <div class="me-picture text-center">
            <div class="item">
              <img class="img-responsive" src="{{PERSONAL_PHOTO}}" width="200" height="200" alt="" />
            </div><hr />
          </div>
        {% endif %}

        <!-- <article>
          <div class="row text-left"> -->

            <!-- Passion -->
           <!--  <div class="col-md-4">
              <h3>Passion</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc. Nam et lacus neque. Ut enim massa, sodales tempor convallis et, iaculis ac massa. Etiam suscipit nisl eget lorem pellentesque quis iaculis mi mattis.</p>
            </div> -->


            <!-- Precision -->
            <!-- <div class="col-md-4">
              <h3>Precision</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc. Nam et lacus neque. Ut enim massa, sodales tempor convallis et, iaculis ac massa. Etiam suscipit nisl eget lorem pellentesque quis iaculis mi mattis.</p>
            </div> -->


            <!-- Simplicity -->
            <!-- <div class="col-md-4">
              <h3>Simplicity</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc. Nam et lacus neque. Ut enim massa, sodales tempor convallis et, iaculis ac massa. Etiam suscipit nisl eget lorem pellentesque quis iaculis mi mattis.</p>
            </div> -->

          <!-- </div>
        </article> -->

        <!-- curriculum vitae button  -->
        <!--
          <article class="curriculum-vitae text-center">
            <a href="#" class="plusNav">+</a> 
            <p>curriculum vitae</p>
          </article>
        -->

      </div>
    </section>
    <!-- /ABOUT -->







    <!-- WORK -->
    <section id="work" class="alternate arrow-down">
      <div class="container">
        <header class="text-center">
          <h1>MY WORK</h1>
        </header>

        <div class="divider"><!-- lines divider --></div>

        <article>
          <p>
            Bacon ipsum dolor sit amet meatball shank pork chop capicola fatback pork loin sirloin flank. Andouille tongue corned beef rump pork loin shank meatball capicola turducken venison shankle kevin pancetta tri-tip boudin. Bacon ipsum dolor sit amet meatball shank pork chop capicola fatback pork loin sirloin flank.
          </p>
        </article>


        <div id="portfolio" class="text-center animate_fade_in">

          <!-- PORTFOLIO FILTER -->
          <div class="text-center">
            <ul class="nav nav-tabs bstrap-tabs isotope-filter" data-sort-id="isotope-list" data-option-key="filter">
              <li data-option-value="*" class="active"><a href="#">ALL</a></li>
              <li data-option-value=".image"><a href="#">IMAGES</a></li>
              <li data-option-value=".brand"><a href="#">BRANDING</a></li>
              <li data-option-value=".video"><a href="#">VIDEO</a></li>
            </ul>
          </div>
          <!-- /PORTFOLIO FILTER -->


          <div class="row">

            <ul class="sort-destination isotope" data-sort-id="isotope-list">

              <li class="isotope-item col-sm-6 col-md-4 image"><!-- item -->
                <a class="popup-image" href="http://stepofweb.gweb.io/.templates/IsisOne/HTML/assets/images/preview/content/portfolio/p1.jpg">
                  <img src="http://stepofweb.gweb.io/.templates/IsisOne/HTML/assets/images/preview/content/portfolio/p1.jpg" class="img-responsive" alt="img" />
                  <div class="caption">
                    <i class="rounded fa fa-camera"></i>
                    <h3>PROJECT TITLE</h3>
                    <p>Image Popup</p>
                  </div>
                </a>
              </li>

              <li class="isotope-item col-sm-6 col-md-4 video"><!-- item -->
                <a class="popup-video" href="http://www.youtube.com/watch?v=kh29_SERH0Y?rel=0">
                  <img src="http://stepofweb.gweb.io/.templates/IsisOne/HTML/assets/images/preview/content/portfolio/p2.jpg" class="img-responsive" alt="img" />
                  <div class="caption">
                    <i class="rounded fa fa-film"></i>
                    <h3>PROJECT TITLE</h3>
                    <p>Youtube Video</p>
                  </div>
                </a>
              </li>

              <li class="isotope-item col-sm-6 col-md-4 video brand"><!-- item -->
                <a class="popup-video" href="http://vimeo.com/23630702">
                  <img src="http://stepofweb.gweb.io/.templates/IsisOne/HTML/assets/images/preview/content/portfolio/p3.jpg" class="img-responsive" alt="img" />
                  <div class="caption">
                    <i class="rounded fa fa-film"></i>
                    <h3>PROJECT TITLE</h3>
                    <p>Vimeo Video</p>
                  </div>
                </a>
              </li>

              <li class="isotope-item col-sm-6 col-md-4 brand"><!-- item -->
                <a class="external ajax-project" href="project-external-1.html">
                  <img src="http://stepofweb.gweb.io/.templates/IsisOne/HTML/assets/images/preview/content/portfolio/p4.jpg" class="img-responsive" alt="img" />
                  <div class="caption">
                    <i class="rounded fa fa-link"></i>
                    <h3>PROJECT TITLE</h3>
                    <p>External Project 1</p>
                  </div>
                </a>
              </li>

              <li class="isotope-item col-sm-6 col-md-4 brand"><!-- item -->
                <a class="external ajax-project" href="project-external-2.html">
                  <img src="http://stepofweb.gweb.io/.templates/IsisOne/HTML/assets/images/preview/content/portfolio/p5.jpg" class="img-responsive" alt="img" />
                  <div class="caption">
                    <i class="rounded fa fa-link"></i>
                    <h3>PROJECT TITLE</h3>
                    <p>External Project 2</p>
                  </div>
                </a>
              </li>

              <li class="isotope-item col-sm-6 col-md-4 brand"><!-- item -->
                <a class="external ajax-project" href="project-external-3.html">
                  <img src="http://stepofweb.gweb.io/.templates/IsisOne/HTML/assets/images/preview/content/portfolio/p6.jpg" class="img-responsive" alt="img" />
                  <div class="caption">
                    <i class="rounded fa fa-link"></i>
                    <h3>PROJECT TITLE</h3>
                    <p>External Project 3</p>
                  </div>
                </a>
              </li>

            </ul>
          </div>

        </div>

      
      </div>
    </section>
    <!-- /WORK -->


    <!-- BLOG -->
    <section id="quick-blog" class="alternate">
      <div class="container">

        <header class="text-center">
          <h1>BLOG</h1>
          <p>RECENT ENTRIES</p>
        </header>

        <div class="divider"><!-- lines divider --></div>

        <article>
          <div class="row animate_fade_in">

            <!-- article -->
            <div class="col-md-4 quick-hover">
              <div class="quick-item">
                <figure class="media-preview"><!-- image -->
                  <img src="http://stepofweb.gweb.io/.templates/IsisOne/HTML/assets/images/1x1.png" class="img-responsive" data-src="holder.js/360x200/#676767:#555555/auto/" alt="img" />
                </figure>

                <h4>Simple but powerful</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc. Nam et lacus neque.</p>
                <a href="blog-post.html" class="btn btn-xs"><i class="fa fa-sign-out"></i> READ MORE</a>
              </div>
            </div>


            <!-- article -->
            <div class="col-md-4 quick-hover">
              <div class="quick-item">
                <div class="media-preview"><!-- video -->
                  <iframe src="https://player.vimeo.com/video/24569304?title=0&amp;byline=0&amp;portrait=0" width="360" height="200"></iframe>
                </div>

                <h4>Easy to customize</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc. Nam et lacus neque.</p>
                <a href="blog-post.html" class="btn btn-xs"><i class="fa fa-sign-out"></i> READ MORE</a>
              </div>
            </div>


            <!-- article -->
            <div class="col-md-4 quick-hover">
              <div class="quick-item">
                <div class="media-preview"><!-- audio -->
                  <iframe class="fullwidth" height="200" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/97336936&amp;color=7E8344&amp;auto_play=false&amp;show_artwork=false"></iframe>
                </div>

                <h4>Easy to integrate</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc. Nam et lacus neque.</p>
                <a href="blog-post.html" class="btn btn-xs"><i class="fa fa-sign-out"></i> READ MORE</a>
              </div>
            </div>

          </div>
        </article>

        <div class="divider"><!-- lines divider --></div>

        <article class="text-center" data-animation="bounceIn">
          <a href="blog.html" class="plusNav" title="more from blog">+</a> 
        </article>

      </div>
    </section>
    <!-- /BLOG -->

    <!-- QUOTE -->
    <!-- <section class="cover" style="background-image:url('http://stepofweb.gweb.io/.templates/IsisOne/HTML/assets/images/preview/slider/road.jpg')">
      <span class="overlay"></span>
      <div class="container text-center" data-animation="bounceIn">
        <q>We can't solve problems by using the same kind of thinking we used when we created them.</q>
        <cite>Albert Einstein</cite>
      </div>
    </section> -->
    <!-- /QUOTE -->




    <!-- FOOTER -->
    <footer>

      <!-- SCROOL TO TOP -->
      <a href="#toTop" class="fa fa-arrow-up toTop"></a>

      <div class="container">

        <div class="row">

          <div class="col-md-6 copyright">
            {{ SITENAME|e }}<br />
            2014 &copy; All Rights Reserved.
          </div>

          <div class="col-md-6 text-right">
            {% for group_title, group_link in SOCIAL %}
              <a href="{{group_link}}" class="social fa fa-{{group_title|lower}}"></a>
            {% endfor %}
          </div>

        </div>

      </div>
    </footer>
    <!-- /FOOTER -->



    <!-- CORE FILES -->
    <script type="text/javascript" src="http://stepofweb.gweb.io/.templates/IsisOne/HTML/assets/plugins/jquery/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="http://stepofweb.gweb.io/.templates/IsisOne/HTML/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="http://stepofweb.gweb.io/.templates/IsisOne/HTML/assets/plugins/jquery.isotope.js"></script>
    <script type="text/javascript" src="http://stepofweb.gweb.io/.templates/IsisOne/HTML/assets/plugins/masonry.js"></script>

    <!-- PLUGINS -->
    <script type="text/javascript" src="http://stepofweb.gweb.io/.templates/IsisOne/HTML/assets/plugins/jquery-fitvids/jquery.fitvids.min.js"></script>
    <script type="text/javascript" src="http://stepofweb.gweb.io/.templates/IsisOne/HTML/assets/plugins/jquery-appear/jquery.appear.js"></script>
    <script type="text/javascript" src="http://stepofweb.gweb.io/.templates/IsisOne/HTML/assets/plugins/superslides/dist/jquery.superslides.min.js"></script>
    <script type="text/javascript" src="http://stepofweb.gweb.io/.templates/IsisOne/HTML/assets/plugins/jquery-owl-carousel/owl.carousel.min.js"></script>
    <script type="text/javascript" src="http://stepofweb.gweb.io/.templates/IsisOne/HTML/assets/plugins/carouFredSel/jquery.carouFredSel-6.2.1-packed.js"></script>
    <script type="text/javascript" src="http://stepofweb.gweb.io/.templates/IsisOne/HTML/assets/plugins/jquery-countTo/jquery.countTo.js"></script>
    <script type="text/javascript" src="http://stepofweb.gweb.io/.templates/IsisOne/HTML/assets/plugins/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script type="text/javascript" src="http://stepofweb.gweb.io/.templates/IsisOne/HTML/assets/plugins/jquery.mb.YTPlayer.js"></script><!-- Youtube video background -->
    <script type="text/javascript" src="http://stepofweb.gweb.io/.templates/IsisOne/HTML/assets/plugins/holder.js"></script><!-- delete on production -->

    <!-- js scripts -->
    <script async type="text/javascript" src="http://stepofweb.gweb.io/.templates/IsisOne/HTML/assets/js/scripts.js"></script>

    <script async type="text/javascript" src="http://stepofweb.gweb.io/.templates/IsisOne/HTML/assets/plugins/styleswitcher/styleswitcher.js"></script>


    <!-- Change UA-XXXXX-X with your site ID -->
    <!--<script>
      window._gaq = [['_setAccount','UA-XXXXX-X'],['_trackPageview'],['_trackPageLoadTime']];
      Modernizr.load({load: ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js'});
    </script>  -->

  </body>
</html>